.content-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left p {
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-btn {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 999px;
  /* background: linear-gradient(135deg, #6d28d9, #9333ea); */
  color: #010101;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.hero-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #6d28d9;
  transition: width 0.3s ease;
}

.hero-btn:hover {
  background: #6d28d9;
  color: #f3f3f3;
}

.hero-btn:hover::after{
    width: 100%;
}