.content-wrapper {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  align-items: center;
  gap: 4rem;
  padding: 8rem 10%;
  min-height: 80vh;
  background: #fdfbf7;
  overflow: hidden;
}

.hero-left {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.hero-left p {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--primary);
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.hero-left h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(3rem, 5vw, 4.5rem);
  line-height: 1.1;
  color: var(--text-dark);
  margin-bottom: 2rem;
}

.btn-wrapper{
  display: flex;
  gap: 15px;
}

.hero-btn {
  padding: 1.2rem 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-light);
  background-color: #d6bcee;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(63, 31, 88, 0.2);
  left: 0;
}

.hero-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(110, 60, 113, 0.397);
  background: linear-gradient(135deg, #6d28d9, #9f39ff);
  color: #f3f3f3;
}

.vid-btn {
  padding: 0.7rem 1.8rem;
  height: 50px;
  font-size: 0.8rem;
  font-weight: 700;
  color: #fff;
  background-color: #7320c2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(63, 31, 88, 0.2);
  bottom: 0;
  margin-top: 10px;
}

.vid-btn:hover{
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(110, 60, 113, 0.397);
  background: linear-gradient(135deg, #6d28d9, #9f39ff);
  color: #f3f3f3;
}

.hero-right {
  position: relative;
}

.hero-right img {
  width: 100%;
  height: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  object-fit: cover;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  animation: morphing 10s infinite alternate;
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  100% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
}

@media (max-width: 992px) {
  .content-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 4rem 5%;
  }

  .btn-wrapper{
    justify-content: center;
  }

  .hero-right {
    order: -1;
  }

  .hero-right img {
    max-width: 80%;
    margin: 0 auto;
  }
}
