*,
body {
  font-family: sans-serif;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
}

.card-head {
  border-radius: 10px;
}

.card-image {
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 0 0;
}

.card-body {
  padding: 15px;
}

.menu {
  margin: 0;
  font-family: sans-serif;
}

.price {
  text-align: center;
  color: #484747;
}

.card-footer {
  display: flex;
  justify-content: center;
}

.btn-menu {
  background-color: #f3f3;
  margin: 20px;
}
